* {
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: #000;
}

h1 {
  margin: 0;
  font-size: 16px;
}

button {
  border: 0;
  font-size: 16px;
  &:hover {
    background-color: #ddd;
    cursor: pointer;
  }
}

#container {
  display: inline-block;
  position: relative;
  height: 576px;
}

#overlappingDiv {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

#battleOptions {
  background-color: #fff;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px #000 solid;
  display: flex;
}

#moves {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#moveType {
  border-left: 4px #000 solid;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
